


<div class="row">
	<div class="center col-12">
	<h1><img src="/img/marker.svg" width="15" alt="location"/> {{ org.name }}</h1>
	<p class="regCount">{{registrationCount}}</p>
	<p class="regText">registraties vandaag</p>
	</div>
</div>

<div class="row">
	<div class="col-2"></div>
    <div class="col-8">



	<ul class="mainmenu">
		<li><a href="/account/manual-check-in"><img src="/img/add-manual.svg" /> Handmatige check-in</a></li>
		<li><a href="/account/download-qr"><img src="/img/download-qr.svg" /> QR code downloaden/printen</a></li>
		<li><a href="/account/mijn-gegevens"><img src="/img/my-data.svg" /> Mijn gegevens</a></li>
	</ul>




<!--
<p></p>
<p><a href="/check-in/{{org._id}}">[debug] Invoer voorkant</a></p>
<p><a href="/account/download-qr">QR code downloaden</a></p>

<p><a href="/account/mijn-gegevens">Mijn gegevens</a></p>
-->

	</div>
	<div class="col-2"></div>
</div>
