<script src="/js/openpgp.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/register.js"></script>


{{> header }}

<style>

	#fieldset-hidden-form{
		display: none;
	}
</style>
	
<div class="container center small">

	<div class="row">

		<h1>Handmatig invoeren</h1>

	</div>

	<div class="row">

	<form id="mock-form">
		<div class="form-group">
			<label for="name-field" class="required">Naam</label>
			<input type="text" class="form-control" id="name-field" required>
		</div>
		
		<div class="form-group">
			<label for="email-field" class="required">E-mail</label>
			<input type="email" class="form-control" id="email-field" aria-describedby="emailHelp">
		</div>		

		<div class="form-group">
			<label for="mobile-field" class="required">Telefoonnummer</label>
			<input type="text" class="form-control" id="mobile-field">
		</div>
	</form>
	
    <form id="form" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="hidden" name="org" value="{{org._id}}">
        <input type="hidden" name="data" id="data" value="">
		<div class="form-group">
			<button id="submit-button" type="button">Verstuur</button>	
		</div>
	</form>		
	
	<input type="hidden" id="pubkey" value="{{{pubkey.key}}}"/>
	
	</div>
	
</div>


    
