<div class="row">
	<div class="center col-12">
	<h1>Registreren</h1>
	<p>Registreer je organisatie snel en makkelijk zodat je meteen aan de slag kunt</p>
	</div>
</div>

<div class="row center">
	<div class="col-1"></div>
    <div class="col-10 center">

		{{> message }}

        <form method="POST" action="" autocomplete="nope">
		<input type="hidden" name="_csrf" value="{{csrfToken}}">

<div class="row">
	<div class="col-12">
		<div class="form-group">
			<label for="name" class="required">Bedrijfsnaam</label>
			<input name="name" type="text" class="form-control" id="name" value="{{org.name}}" autocomplete="nope" required />
		</div>
	</div>

</div>

<div class="row">
	<div class="col-12">
		<div class="form-group">
            <label for="kvk" class="required">KVK nummer</label>
            <input name="kvk" type="text" class="form-control" id="kvk" value="{{org.kvk}}" autocomplete="nope" required />
        </div>   
       </div>   
</div>

<div class="row">
	<div class="col-8">
        <div class="form-group">
			<label for="streetname" class="required">Straatnaam</label>
            <input name="streetname" type="text" class="form-control" id="streetname" autocomplete="nope" value="{{org.streetname}}" required />
        </div>
	</div>
	
	<div class="col-4">
        <div class="form-group">
			<label for="housenumber" class="required">Huisnummer</label>
            <input name="housenumber" type="text" class="form-control" id="housenumber" autocomplete="nope" value="{{org.housenumber}}" required />
        </div>
	</div>
</div>

<div class="row">
	<div class="col-4">
        <div class="form-group">
			<label for="postal" class="required">Postcode</label>
            <input name="postal" type="text" class="form-control" id="postal" autocomplete="nope" value="{{org.postal}}" required />
        </div>
	</div>
	
	<div class="col-8">
        <div class="form-group">
			<label for="city" class="required">Plaats</label>
            <input name="city" type="text" class="form-control" id="city" autocomplete="nope" value="{{org.city}}" required />
        </div>
	</div>
</div>

<div class="row"> 
	<div class="col-12">
        <div class="form-group">
			<label for="emailInput" class="required">E-mail adres</label>
            <input name="email" type="email" class="form-control" id="emailInput" placeholder="" autocomplete="nope" value="{{org.email}}" required />
        </div>
       </div>
</div>

<div class="row">
	<div class="col-12">
        <div class="form-group">
			<label for="passwordInput" class="required">Wachtwoord</label>
            <input name="password" type="password" class="form-control" id="passwordInput" autocomplete="nope" required />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">        
		<div class="form-group">
			<label for="confirmPasswordInput" class="required">Herhaal wachtwoord</label>
            <input name="confirmPassword" type="password" class="form-control" id="confirmPasswordInput" autocomplete="nope" required />
        </div>   
    </div>   
</div>

<div class="row">
	<div class="col-12">
			<button type="submit" class="btn btn-primary">Registreer</button>
	</div>
</div>
        </form>
		
		<br/>
		<br/>
		<p>Heb je al een account? <a href="/">Log dan hier in</a></p>	
		<br/>
    </div>
	<div class="col-1"></div>
</div>