
<div class="header grey">
	<div class="container small">
		<div class="row">
			<div class="logo">
				<img src="/img/logo.svg" class="" alt="logo"/>
			</div>
		</div>
	</div>
</div>


	<div class="row center grey-halfcircle ">

		<div class="col-12"> 
			<img src="/img/womandog.png" class="negativeoffset" height="280" alt="Bedankt" />
		</div>
	</div>

<div class="container center small">
	<div class="row ">
		<div class="col-12 location ">
			<img src="/img/marker.svg" alt="location"/> {{org.name}}
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h1>Woehoe, je bent present!</h1>
		</div>
	</div>




<div class="row">

<p>Je gegevens zijn veilig en <br/>anoniem opgeslagen. Wij kunnen ze niet zien. De GGD wel, maar alleen als dat echt nodig is.</p>

<p><a href="https://www.schluss.org" target="_blank">Lees hoe dat precies zit</a></p>

</div>

</div>

